<div class="container">
  <div class="row mt-4">
    <div class="col-6 text-center">
      <h3 >Введите код</h3>
      <p><textarea rows="15" cols="50" [(ngModel)]="code">
      </textarea></p>
      <div class="d-flex justify-content-around"><input class="btn btn-info" type="button" (click)="run(code)" value="Выполнить">
        <input class="btn btn-danger mr-2" type="button"  value="Очистить" (click)="clear()">
      </div>
    </div>
    <div class="col-6 text-center">
      <h3>Консоль</h3>
      <p><textarea rows="15" cols="50" [(ngModel)]="console" readonly>
      </textarea></p>
      <p><input class="btn btn-danger" type="button"  value="Очистить" (click)="clearConsole()"> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12" >
      <p style="color: indianred">{{errorMess}}</p>
    </div>
  </div>
</div>
